<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LibraryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>SignUp</servlet-name>
  <jsp-file>/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>SignUp</servlet-name>
  <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>AddUser</servlet-name>
  <jsp-file>/userjsp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddUser</servlet-name>
  <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Index</servlet-name>
  <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Index</servlet-name>
  <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>LogIn</servlet-name>
  <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogIn</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>VerifyUser</servlet-name>
  <jsp-file>/verifyuser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>VerifyUser</servlet-name>
  <url-pattern>/verifyUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>userPage</servlet-name>
  <jsp-file>/UserPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>userPage</servlet-name>
  <url-pattern>/userpage</url-pattern>
  </servlet-mapping>
    
  <servlet>
  <servlet-name>adminLogin</servlet-name>
  <jsp-file>/adminpage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>adminLogin</servlet-name>
  <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  
  
</web-app>